body{
    background-color: #e8e7e3;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(hojas_fondobeige.jpg);
    background-size:cover;
    backdrop-filter: blur(7px);
    
}

/* Barra de navegación */
/* luego se borra */
nav{
    background-color: #343a36;
}

.logo{
    width: 26px;
    margin-top: 5px;
    margin-right: 12px;
    margin-left: 12px;
}

.nav-link{
    color:rgb(232, 231, 227);
}

.nav-link:hover{
    color: #b6d3a2;
}

.navbar-toggler{
    color: rgb(135 143 138 / 20%);
    background-color: #e8e7e3;
}

/* Buscador */
.form-search{
    border-radius: 0.375rem;
    border-color: #ffffff00;
    width: 100%;
    appearance: none;
    padding:.375rem .75rem;
    outline-style: none;
    line-height:unset
}

.form-search:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);

}

.form-search:focus-visible{
    border-color: #ffffff;
    border-style: none;
}

/* Botón buscar */
.btn-outline-success{
    --bs-btn-color:rgb(232, 231, 227);
    --bs-btn-border-color: rgb(232, 231, 227);
    --bs-btn-hover-color: rgb(52, 58, 54);
    --bs-btn-hover-bg: rgb(172, 182, 173);
    --bs-btn-hover-border-color: rgb(172, 182, 173);
    --bs-btn-active-bg:rgb(52, 58, 54);
    --bs-btn-active-border-color: #80837f;
}
/* --------------------------------------------- */

/* Animacion */
#vanta{
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.vanta-canvas {
    width: 100% !important;
    height: 100% !important;
}


.registro{
    background: #e8e7e365;
    box-shadow: 1px 0px 20px 1px rgb(170 170 170);
    border-radius: 10px;
}

.formulario{
    padding-top: 32px;
    padding-bottom: 60px;
}

section {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.logodc_registro{
    width: 100px;
}

section h2{
    font-family: 'El Messiri', sans-serif;
}

section p{
    font-size: 17px;
}

/* Formulario */

.form-control{
    background-color: rgb(255 255 255 / 0%);
    border-bottom-color:rgb(52, 58, 54);
    border-radius: 0px;
    border-left: none;
    border-top: none;
    border-right: none;
}


.form-control:focus{
    background-color: #f8f8f8b3;
    box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0);
    border-color:#80837f;
}

.input-group-text{
    border: none;
    background-color: #e8e7e300;
}


/* Botón crear cuenta */
.btn-dark {
    --bs-btn-color: #343a36;
    --bs-btn-bg: #bdbfbd00;;
    --bs-btn-border-color: #343a36;
    --bs-btn-hover-border-color: #343a36;
    --bs-btn-active-color: #e8e7e3;
}

/* Apariencia cuando los datos son válidos */
.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}

/* Checkbox */
.form-check-input{
    border-color: #80837f;
}

.form-check-input:checked {
    background-color:#343a36;
    border-color: #343a36;
}

.form-check-input:focus{
    border-color: #939493;
    box-shadow: 0 0 0 0.25rem rgb(52 58 54 / 33%);
}
