body {
  /* display: grid; */
  /* grid-template-rows: auto auto auto; */
  height: 100vh;
}

.header__acerca-de {
  margin-top: 1rem;
  position: relative;
  padding: 0;
}

.descripcion__acerca-de {
  position: absolute;
  /* display: block; */
  width: 350px;
  height: 228px;
  left: 30%;
  top: 50%;
  transform: translate(-30%,-50%);
  padding: 1rem;
  color: var(--fondo);
  background-color: var(--gris);
  filter: opacity(0.7);
  mix-blend-mode: normal;
  z-index: 100;
}

h2, h3 {
  font-family: "El Messiri", sans-serif;
}


.img-header {
  width: 100%;
  height: auto;
}


@media (max-width:980px){
    .descripcion__acerca-de{
        height: 150px;
        font-size: 0.7em;
    }
}

@media (max-width:475px){
    .descripcion__acerca-de{
        width: calc(100% - 100px);
        height: 8rem;
    }
}