body {
  height: 100vh;
}

.descripcion__acerca-de, .mision-vision_container, .valores{
  font-size: 20px;
}

/* Contenedor descripción acerca de */
.descripcion__acerca-de {
  position: absolute;
  width: 400px;
  height: 228px;
  transform: translate(22%,50%);
  padding: 1rem;
  font-size: 20px;
  color: #373b3e;
  z-index: 100;
}


h1, h2 {
  font-family: "El Messiri", sans-serif;
}

/* Fotografía figura ave */
.img-header {
  width: 100%;
}

/* Breakpoints para el contenedor de la descripción */
@media (max-width:992px){
    .descripcion__acerca-de{
        background-color: #343a36d1;
        color: #e8e7e3;
        border-radius: 5px;
    }
}

@media (max-width:576px){
    .descripcion__acerca-de{
        transform: translate(-1%,11%);
    }

    .descripcion__acerca-de p{
      font-size: 18px;
    }
}

@media (max-width:391px){
  .descripcion__acerca-de{
      width: calc( 91% - -39px);
      transform: translate(-1%,9%);
  }
}

/* Contenedor misión - visión */
.mision-vision_container{
  border-radius: 10px;
}