body{
    background-color: rgb(232, 231, 227);
    font-family: 'Source Sans Pro', sans-serif;
}

nav{
    background-color: rgb(52, 58, 54);
}

.nav-link{
    color:rgb(232, 231, 227);
}

.texto{
    background-color: rgb(52, 58, 54);
    color:rgb(232, 231, 227);
    display: flex;
    align-items: center;
}

h1{
    font-family: 'El Messiri', sans-serif;
}


.imagen{
    background-image: url(../img/plantas.jpg);
    background-repeat: no-repeat;
}

.carousel-item img{
    border-radius:50%;
    filter: grayscale(90%);
    transition: .3s ease all;
    scale: 80%;
}

.carousel-item img:hover {
    filter: grayscale(0%);
    border-radius: 10%;
    scale:100%;
}

footer {
    color: rgb(232, 231, 227) ;
    background-color: rgb(52, 58, 54);
}