body{
    background-color: rgb(232, 231, 227);
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

nav{
    background-color: rgb(52, 58, 54);
}

.logo{
    width: 26px;
    margin-top: 5px;
    margin-right: 12px;
    margin-left: 12px;
}

.nav-link{
    color:rgb(232, 231, 227);
}

.nav-link:hover{
    color: rgb(182 211 162);
}

.navbar-toggler{
    color: rgb(135 143 138 / 20%);
    background-color: rgb(232, 231, 227);
}

.btn-outline-success{
    --bs-btn-color:rgb(232, 231, 227);
    --bs-btn-border-color: rgb(232, 231, 227);
    --bs-btn-hover-color: rgb(52, 58, 54);
    --bs-btn-hover-bg: rgb(172, 182, 173);
    --bs-btn-hover-border-color: rgb(172, 182, 173);
    --bs-btn-active-bg:rgb(52, 58, 54);
    --bs-btn-active-border-color: #80837f;
}

.form-control:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);
}


.texto{
    background-color: rgb(52, 58, 54);
    color:rgb(232, 231, 227);
    display: flex;
    align-items: center;
}

h1{
    font-family: 'El Messiri', sans-serif;
}

h3{
    text-align: center;
}

.imagen{
    background-image: url(../img/plantas.jpg);
    background-repeat: no-repeat;
}

.carousel-item img{
    border-radius:50%;
    filter: grayscale(90%);
    transition: .3s ease all;
    scale: 80%;
}

.carousel-item img:hover {
    filter: grayscale(0%);
    border-radius: 10%;
    scale:100%;
}

.carousel-indicators{
    margin-bottom: 2px;
}

.carousel-indicators [data-bs-target]{
    background-color: rgb(52 58 54);
}

h6{
    padding-top: 10px;
}

footer {
    color: rgb(232, 231, 227);
    background-color: rgb(52, 58, 54);
    font-size: 16px;
}