header {
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

nav{
    background-color: rgb(52, 58, 54);
}

.integrantes {
    min-height: 500px;
}
.nav-link{
    color:rgb(232, 231, 227);
}

.nav-link:hover{
    color: rgb(182 211 162);
}

.navbar-toggler{
    color: rgb(135 143 138 / 20%);
    background-color: rgb(232, 231, 227);
}

.btn-outline-success{
    --bs-btn-color:rgb(232, 231, 227);
    --bs-btn-border-color: rgb(232, 231, 227);
    --bs-btn-hover-color: rgb(52, 58, 54);
    --bs-btn-hover-bg: rgb(172, 182, 173);
    --bs-btn-hover-border-color: rgb(172, 182, 173);
    --bs-btn-active-bg:rgb(52, 58, 54);
    --bs-btn-active-border-color: #80837f;
}

.form-control:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);
}

/* Row - texto imagen */

.texto{
    background-color: rgb(52, 58, 54);
    color:rgb(232, 231, 227);
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: 270px;
}

h1, h3{
    font-family: 'El Messiri', sans-serif;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-top: 28px;
}

h5{
    font-weight: bold;
    color: #343a36;
}

.imagen{
    background-image: url(../img/amigos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    height: 270px;
}

/* Carrusel */

.carousel-item img{
    border-radius:50%;
    filter: grayscale(90%);
    transition: .3s ease all;
    scale: 80%;
}

.carousel-item img:hover {
    filter: grayscale(0%);
    border-radius: 10%;
    scale:100%;
}

.carousel-indicators{
    margin-bottom: 2px;
}

.carousel-indicators [data-bs-target]{
    background-color: rgb(52 58 54);
}

.carousel-control-next, .carousel-control-prev{
    width: 0%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 1.5rem;
}

.contacto_gh{
    width: 45px;
}

/* Links en iconos redes */
a{
    text-decoration: none;
}