main {
    height: 100vh;
}


.fila{
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(52 58 54 / 8%);
}


h3{
    margin-top: 30px;
    font-family: "El Messiri", sans-serif;
    color: #343a36;
}


h4{
    text-align: left;
}

.producto {
    /* margin: 1rem !important; */
    width: 240px !important;
}

.producto .producto_img{
    width: 150px;
    margin: auto;
}

.favorito-button {
    all: unset;
}

.owl-stage-outer{
    height: 28rem;
}

/* Button carousel */
.owl-dot span{
    background-color: #869791 !important;
    display: inline;
}

.owl-dot span:hover {
    background-color: #5c8576 !important;
}

.favoritos{
    height: 500px;
}