main {
    height: 100vh;
}


.fila{
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(52 58 54 / 8%);
}


h3{
    margin-top: 30px;
    font-family: "El Messiri", sans-serif;
    color: #343a36;
}


h4{
    text-align: left;
}

.producto{
    margin-top: 25px;
}

.producto_img {
    height: 15rem;
    display: inline-block;
}

.producto_img > img {
    /* width: 170px; */
    border-radius: 10px;
    /* margin-top: 23px; */
    height: inherit;
    transition: scale .3s ease-in-out;
    display: inline-block;
}

.producto_img > img:hover{
    scale: 1.1;
}

.favorito-button {
    display: inline-block;
    all: unset;
}

.producto_categoria{
    margin-top: 1rem;
}

.producto_nombre {
    margin-top: -1rem;
}

.producto_categoria, .producto_nombre, .producto_precio{
    text-align: left;
    padding-left: 20%;
}

.btn-secondary{
    margin-bottom: 15px;
    background-color: #495057;
}

.producto-corazon {
    position: relative;
    /* top: -98%;
    width: 50%; */
    /* z-index: 100; */
}

.producto-corazon img {
  mix-blend-mode: multiply;

}

.favorito-eliminar{
    all: unset;
    position: absolute;
    top: 73%;
    left: 60%;
    z-index: 100;
}

/* Button carousel */
.owl-dot span{
    background-color: #869791 !important;
    display: inline;
}

.owl-dot span:hover {
    background-color: #5c8576 !important;
}

.favoritos{
    height: 500px;
}