:root {
    --gris: #80837F;
    --verde-principal: #343A36;
    --verde-secundario: #ACB6AD;
    --fondo: #E8E7E3;
}

header {
    background-color: var(--verde-principal);
}

/* Productos */

.blur{
    background-image: url(../img/main/promocion_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    backdrop-filter: blur(1px);
}

.promocion {
    background-color: rgb(52 58 54 / 53%);
    backdrop-filter: inherit;
    height: inherit;
}

h2{
    color:#E8E7E3;
    font-size: 45px;
}


/* Botón ver productos... */
.btn-light{
    background-color: #E8E7E3;
}

.blur a {
    text-decoration: none;
    color: #343A36;
    font-weight: 600;
}

.producto_img {
    height: 15rem;    
}

.productos_img {
    width:150px;
    border-radius: 5px;
}
.producto_img > img {
    width: 150px;
    border-radius: 5px;
    height: inherit;
    transition: scale .3s ease-in-out;
}

.producto_img > img:hover{
    scale: 1.1;
}

.producto_categoria{
    margin-top: 1rem;
}


.producto_categoria, .producto_nombre, .producto_precio{
    text-align: left;
    padding-left: 15%;
}


/* Botón fav corazón */

.favorito-button{
    all: unset;
    padding-left: 15%;
    filter: grayscale(100%) invert(100%) brightness(100%);
}

.favorito-button.active {
    filter:  none;
}

@keyframes cambioTamanio {
    50%{
        scale: 1.12;
    }
    100%{
        scale: 1;
    }
}



.carrito-button{
    all: unset;
}