main {
    min-height: 43rem;
}


.barra_menu2{
    background-color: #bdbfbd;
}

/* Botón más productos */
.btn-primary{
    --bs-btn-color: #343a36;
    --bs-btn-bg: #bdbfbd00;
    --bs-btn-border-color: #343a3600;
    --bs-btn-hover-border-color: #343a36;
    --bs-btn-active-color: #e8e7e3;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #343a36;
    border-color: #343a3600;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #495057;
    border-color: rgb(52 58 54);
}

/* Menú desplegable */

.offcanvas {
    background-color: #343a36bf;
    backdrop-filter: blur(11px);
    color:#e8e7e3;
}

/* Categorias */
.accordion{
    --bs-accordion-bg: #fff0;
    --bs-accordion-active-color: #e8e7e3;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem#a3a1984d;
}

.accordion-button:not(.collapsed) {
    color: #343A36;
    background-color: #d1d0cc54;
    box-shadow: none;
}

.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 10px;
    color: #e8e7e3;
}

/* Subcategorías */

.list-group-item{
    background-color: #e8e7e300;
    border: none;
    color:#e8e7e3;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    text-decoration: none;
    background-color: rgb(52 58 54 / 60%);
    color: #b6d3a2;
    border-radius: 5px;
}



.fila{
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(52 58 54 / 8%);
}

/* Promoción */
.row-liquidacion{
    background-image: url(../img/vela_promo.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt_promocion{
    background-color: #000000ad;
    color: #e8e7e3;
    height: inherit;
    border-radius: 5px;
}

.txt_promocion > h2{
    padding-top: 55px;
}

.txt_promocion > p{
    font-size: larger;
}

h3{
    font-family: "El Messiri", sans-serif;
}

h4{
    text-align: left;
    font-family: "El Messiri", sans-serif;
}

@media (max-width:992px){
    form {
        flex-direction: column;
    }
}