/* paleta colores */
:root {
  --gris: #80837f;
  --verde-principal: #343a36;
  --verde-secundario: #acb6ad;
  --fondo: #e8e7e3;
}

body {
  background-color: var(--fondo);
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
}

nav {
  background-color: var(--verde-principal);
}

.logo {
  width: 26px;
  margin-top: 5px;
  margin-right: 12px;
  margin-left: 12px;
}

.nav-link {
  color: var(--fondo);
}

.nav-link:hover {
  color: rgb(182 211 162);
}

.navbar-toggler {
  color: rgb(135 143 138 / 20%);
  background-color: rgb(232, 231, 227);
}

.btn-outline-success {
  --bs-btn-color: rgb(232, 231, 227);
  --bs-btn-border-color: rgb(232, 231, 227);
  --bs-btn-hover-color: rgb(52, 58, 54);
  --bs-btn-hover-bg: rgb(172, 182, 173);
  --bs-btn-hover-border-color: rgb(172, 182, 173);
  --bs-btn-active-bg: rgb(52, 58, 54);
  --bs-btn-active-border-color: #80837f;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);
}

.texto {
  background-color: rgb(52, 58, 54);
  color: rgb(232, 231, 227);
  display: flex;
  align-items: center;
}

h1 {
  font-family: "El Messiri", sans-serif;
}

h3 {
  text-align: center;
}

.mision-vision_container {
  background-color: var(--verde-principal);
  color: var(--fondo);
  padding: 1rem;
}

footer {
    color: rgb(232, 231, 227);
    background-color: rgb(52, 58, 54);
    font-size: 16px;
}

footer ul {
  list-style: none;
  padding: 0;
}

@media (max-width:475px){
  footer {
      font-size: 14px;
  }
  .redes img {
      width: 30px;
  }
  .logoPrincipal img{
      width: 60px;
  }
}