/* paleta colores */
:root {
  --gris: #80837f;
  --verde-principal: #343a36;
  --verde-secundario: #acb6ad;
  --fondo: #e8e7e3;
}

body {
  position: relative;
  background-color: var(--fondo);
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
}

nav {
  background-color: var(--verde-principal);
}

.logo {
  width: 34px;
  margin-top: 5px;
  margin-right: 12px;
  margin-left: 12px;
}

.logo_footer {
  margin-top: 10px;
}


.nav-link {
  color: var(--fondo);
}

.nav-link:hover {
  color: rgb(182 211 162);
}

.navbar-toggler {
  color: rgb(135 143 138 / 20%);
  background-color: rgb(232, 231, 227);
}

.btn-outline-success {
  --bs-btn-color: rgb(232, 231, 227);
  --bs-btn-border-color: rgb(232, 231, 227);
  --bs-btn-hover-color: rgb(52, 58, 54);
  --bs-btn-hover-bg: rgb(172, 182, 173);
  --bs-btn-hover-border-color: rgb(172, 182, 173);
  --bs-btn-active-bg: rgb(52, 58, 54);
  --bs-btn-active-border-color: #80837f;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);
}

.texto {
  background-color: rgb(52, 58, 54);
  color: rgb(232, 231, 227);
  display: flex;
  align-items: center;
}

h1 {
  font-family: "El Messiri", sans-serif;
}

h3 {
  text-align: center;
}

.mision-vision_container {
  background-color: var(--verde-principal);
  color: var(--fondo);
  padding: 1rem;
}

/* Carousel */
.owl-nav {
  display: none;
}
/* 
.owl-stage {
  display: flex;
} */

@media (max-width:768px){
  .owl-carousel .producto {
    width: 50%;
  }
}

.owl-item.active{
  display: flex;
}

.owl-item.active .producto{
  margin: 1rem auto;
  justify-content: center;
}

footer {
    color: #e8e7e3;
    background-color: #343a36;
    font-size: 1rem;
    position: absolute;
}

footer a {
  text-decoration: none;
  color: #e8e7e3;
}

footer a:hover {
  color: #b6d3a2;
}

footer ul {
  list-style: none;
  padding: 0;
}


@media (max-width:767px){
  .contenedor_redes {
    padding-top: 22px;
  }
}

@media (max-width:475px){
  footer {
      font-size: 14px;
  }
  .redes img {
      width: 45px;
  }
  .logo_footer img{
      width: 60px;
  }
}

h6{
  padding: 10px 10px;
}

/* Scrollbar */

/* Scroll  */
html::-webkit-scrollbar {
  width: 12px;
  background-color: #c8c4b2;  
  background-color: #e0e0e0f8;  
}

/* Thumb -barra pequeña */
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aeaeae;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #64776a;
}