/* paleta colores */
:root {
    --gris: #80837F;
    --verde-principal: #343A36;
    --verde-secundario: #ACB6AD;
    --fondo: #E8E7E3;
}

* {
    background-color: var(--fondo);
    font-family: sans-serif;
}