body{
    background-color: rgb(232, 231, 227);
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(./hojas_mate.jpg);
    backdrop-filter: inherit;
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100vh;
}

/* Barra de navegación */

nav{
    background-color: rgb(52, 58, 54);
}

.logo{
    width: 26px;
    margin-top: 5px;
    margin-right: 12px;
    margin-left: 12px;
}

.nav-link{
    color:rgb(232, 231, 227);
}

.nav-link:hover{
    color: rgb(182 211 162);
}

.navbar-toggler{
    color: rgb(135 143 138 / 20%);
    background-color: rgb(232, 231, 227);
}

.btn-outline-success{
    --bs-btn-color:rgb(232, 231, 227);
    --bs-btn-border-color: rgb(232, 231, 227);
    --bs-btn-hover-color: rgb(52, 58, 54);
    --bs-btn-hover-bg: rgb(172, 182, 173);
    --bs-btn-hover-border-color: rgb(172, 182, 173);
    --bs-btn-active-bg:rgb(52, 58, 54);
    --bs-btn-active-border-color: #80837f;
}

.form-control:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(244, 245, 247, 0.202);
}

/* Contenedor contáctanos */

.blur{
    backdrop-filter: blur(4px);
    background-color: rgba(61, 73, 59, 0.22);
}

main{
    color: rgb(232, 231, 227);
    padding-top: 5px;
    padding-bottom: 5px;
}


.text{
    text-align: center;
}

h1{
    font-family: 'El Messiri', sans-serif;
}

/* Botón enviar */
.btn-primary {
    --bs-btn-color: rgb(232 231 227);
    --bs-btn-bg: rgb(52 58 54 / 57%);
    --bs-btn-border-color: rgb(232 231 227);
    --bs-btn-hover-color: rgb(52 58 54);
    --bs-btn-hover-bg: rgb(172 182 173);
    --bs-btn-hover-border-color: rgb(172 182 173);
    --bs-btn-active-color: rgb(71 72 71);
    --bs-btn-active-bg: rgb(232 231 227);
    --bs-btn-active-border-color: rgb(172 182 173);
}

/* Estilo validación de datos */
.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}

.invalid-feedback{
    color: rgb(255, 151, 161);
}


/* Newsletter */

.sub-container{
    background-color: rgb(172, 182, 173);
    color: rgb(52, 58, 54);
    height: 250px;
    padding: 30px;
    border-radius: 10px;
}

h2{
    font-family: 'El Messiri', sans-serif;
    margin-top: 30px;
    font-weight: 600;
}

.isobre{
    height: 40px ;
    width: 60px;
}

/* Botón suscribirse */

.btn-outline-secondary{
    --bs-btn-color: rgb(52 58 54);
    --bs-btn-border-color: rgb(52 58 54);
    --bs-btn-hover-bg: rgb(52 58 54);
    --bs-btn-hover-border-color: rgb(52 58 54);
    --bs-btn-active-bg: rgb(52 58 54);
}

/* Footer */

footer {
    color: rgb(232, 231, 227);
    background-color: rgb(52, 58, 54);
    font-size: 16px;
  }

h6{
    padding-top: 10px;
}